.App{

  width: 70%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.App > h1{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 3em;
}

.App > p{
  width: 100%;
  font-size: 1.5em;
  line-height: 45px;
}

.App > h2{
  font-size: 1em;
  font-weight: lighter;
  text-align: center;
  margin-top: 30px;
  opacity: .3;
}

.formInserirPalavras{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

form{
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  height: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.195);
  display: flex;
  gap: 1em;
}

form > input[type=text]{
  width: 300px;
  height: 50px;
  background: rgb(86, 86, 86);
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2em;
  color: white;
  transition: .2s;
}

input::placeholder{
  color: white;
}

form > input[type=text]:focus{
  transition: .2s;
  box-shadow: 0px 0px 0px 2px #ffffffa1;
  outline: none;
}

form > button{
  width: 80px;
  height: 50px;
  background: black;
  border: none;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: normal;
  cursor: pointer;
  transition: .2s;
}

form > button:hover{
  background: rgba(0, 0, 0, 0.317);
}

h3{
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  font-weight: normal;
  padding: 0 0.5em; /* Ajuste o espaçamento interno conforme necessário */
  border-bottom: 1px solid white;
  min-width: 150px;
  text-align: center;
  height: 40px;
  line-height: 40px;
}